<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <script src="https://kit.fontawesome.com/f8098dd63e.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../img/IconoPagina.ico">
    <link rel="shortcut icon" href="../img/IconoPagina.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Estonia&family=Luckiest+Guy&family=Mogra&family=Permanent+Marker&family=Ubuntu&display=swap" rel="stylesheet">  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="../sass/style.css"/>
    <meta name="keywords" content="scouts grupo historia fundacion scouts de argentina">
    <meta name="description" content="Te contamos un poco de la historia del GS Nº 389 “M.S. Tomas Alejandro Echevarría”.">


</head>
<body>

    <header>
      <h1><strong>GS. 389 M.S. TOMAS A. ECHEVARRIA</strong></h1>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="../index.html">
                <img src="../img/LogoPaginaHTML.png" alt="LogoPagina" width="80" height="80">
              </a>       
              <h3><strong>GS. 389 M.S. TOMAS A. ECHEVARRIA</strong></h3>
                  <button class="navbar-toggler navbar-dark bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="nav navbar-nav d-flex">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./nosotros.html">NOSOTROS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./campamentos.html">CAMPAMENTOS</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      RAMAS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="./ramas.html">TODAS LAS RAMAS</a></li>
                      <li><a class="dropdown-item" href="#">LOBATO</a></li>
                      <li><a class="dropdown-item" href="#">SCOUT</a></li>
                      <li><a class="dropdown-item" href="#">CAMINANTE</a></li>
                      <li><a class="dropdown-item" href="#">ROVER</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./contacto.html">CONTACTO</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>     
    </header>

    <section class="sectionNosotros">
      <div class="fundacion animate__animated animate__bounceInLeft">
        <h2><strong>NUESTROS ORIGENES</strong></h2>
        <img src="../img/Fundadores.jpg" alt="fundadores">
        <p>El Grupo Scout Nº 389 “M.S. Tomas Alejandro Echevarría”, fue fundado el 6 de Agosto de 1989, por un grupo de amigos que compartían ideales en común relacionados con el Scoutismo. Tomaron la iniciativa de organizar y crear un nuevo Grupo Scout con algunos pilares fundacionales que siguen vigentes actualmente, entre ellos, que este grupo sea un espacio de encuentro, de crecimiento y desarrollo personal y fortalecimiento para todos los niños, niñas y jóvenes que quisieran compartir la experiencia de ser Scout, sin que alguna situación particular fuera un impedimento para este logro.</p>  
      </div>
      <div class="actividad animate__animated animate__bounceInRight">
        <h2><strong>¿QUE HACEMOS?</strong></h2>
        <div class="img">
          <img src="../img/Actividad.jpg" alt="actividad" class="img_act1">
          <img src="../img/HomeSlider/5.png" alt="actividad" class="img_act2">
        </div>
        <p>
          La actividad que realizamos es totalmente voluntaria, los recursos económicos necesarios para llevar adelante los objetivos que les proponemos a nuestros beneficiarios, deben ser gestionados y generados por nosotros mismos, apelando al apoyo y el trabajo incondicional del conjunto de Padres, junto a sus hijos y los educadores adultos, con la premisa que ningún niño ni joven deje de asistir por problemas que puedan tener una solución, siempre buscada en conjunto.
          Nuestro medio es la educación no formal y propiciamos que jóvenes y adultos compartan la tarea del crecimiento común en una relación que fomente el diálogo, la comprensión y la participación. Asumimos el desafío de que los jóvenes tengan un protagonismo en la historia como ciudadanos responsables, animadores del cambio comunitario, constructores de un mundo mejor.
        </p>  
      </div>
      <div class="historia">
          <h3>Un poco de nuestra historia ...</h3>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/R5lOYQLwM38" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  </section>
      
    <footer id="footer">
      <h4> &copy;Pagina Desarrollada por Gonzalo Mainardi</h4>
      <a href="https://www.instagram.com/gonzamainardi/" target="_blank"><button class="btn-ig"><i class="fab fa-instagram"></i></button></a>
      <a href="https://twitter.com/GonzaMainardi21" target="_blank"><button class="btn-tw"><i class="fab fa-twitter"></i></button></a>
      <a href="https://www.facebook.com/gonzalo.mainardi" target="_blank"><button class="btn-fb"><i class="fab fa-facebook"></i></button></a>
      <a href="mailto:mainardi.gonzalo@gmail.com" target="_blank"><button class="btn-gmail"><i class="far fa-envelope"></i></button></a>
  </footer>
  
</body>
</html>